= simple_form_for([@configuration, @new_comment], remote: true, html: {class: 'comment-reply', id: 'new_comment'}) do |f|
  = render 'shared/error_messages', object: f.object
  = f.hidden_field :commentable_id, value: comment.commentable_id
  = f.hidden_field :commentable_type, value: comment.commentable_type
  = f.input :body, label: false
  = f.submit "Add comment", class: "btn btn-primary"