= paginate @configurations
%table.table.table-hover
  %thead
    %tr
      %th Hashrate
      %th (K|M|G)H/s
      %th Nick
      %th Algo
      %th HW Type
      %th HW Name
      %th MB
      %th Driver
      %th Miner
      %th Config
      %th MinerPic
      %th GpuZPic
  %tbody
    - @configurations.each do |config|
      %tr
        %td
          #{config.hashrate}
        %td
          #{config.hash_speed.speed}
        %td
          = link_to config.nick, configuration_path(config)
        %td
          #{config.algo_type.name}
        %td
          #{config.hw_type.name}
        %td
          #{config.hw_name}
        %td
          #{config.mb}
        %td
          #{config.driver}
        %td
          #{config.miner}
        %td
          #{config.config}
        %td
          = image_tag config.miner_pic.url(:mini_thumbnail)
        %td
          = image_tag config.gpuz_pic.url(:mini_thumbnail)
        - if can? :update, config
          %td
            = link_to "Edit", edit_configuration_path(config)
          %td
            = link_to "Delete", configuration_path(config), method: :delete, data: {confirm: 'sure?'}
= paginate @configurations