= simple_form_for @configuration, :html => { :class => 'form-vertical' } do |f|
  = f.input :nick, placeholder: "nickname"
  = f.association :hash_speed, label_method: :speed, value_method: :id, include_blank: false
  = f.input :hashrate, placeholder: "450"
  = f.association :algo_type, include_blank: false
  = f.association :hw_type, include_blank: false
  = f.input :hw_name, placeholder: "Radeon HD 7990"
  = f.input :mb
  = f.input :driver
  = f.input :miner
  = f.input :config
  = f.input :miner_pic
  = f.input :gpuz_pic
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), 
      configurations_path, :class => 'btn'                         