= simple_form_for @configuration, :html => { :class => 'form-vertical' } do |f|
  = f.input :nick
  = f.input :hashrate
  = f.association :algo_type
  = f.association :hw_type
  = f.input :hw_name
  = f.input :mb
  = f.input :driver
  = f.input :miner
  = f.input :config
  = f.input :miner_pic
  = f.input :gpuz_pic
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), 
      configurations_path, :class => 'btn'                         