%h4
  Nick: #{@configuration.nick}
%h4
  Hashrate: #{@configuration.hashrate}
  (K|M|G)H/s: #{@configuration.hash_speed.speed}
%h4
  Algorithm: #{@configuration.algo_type.name}
%h4
  Hardware type: #{@configuration.hw_type.name}
  #{@configuration.hw_name}

%h4
  Motherboard + PSU: #{@configuration.mb}
%h4
  Driver: #{@configuration.driver}
%h4
  Miner soft: #{@configuration.miner}
%h4
  Config params: #{@configuration.config}
%p  
  = link_to image_tag(@configuration.miner_pic.url(:thumbnail)), @configuration.miner_pic.url
  = link_to image_tag(@configuration.gpuz_pic.url(:thumbnail)), @configuration.gpuz_pic.url
  
  
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),
    configurations_path, :class => 'btn'                     
  -#
  - if can? :update, @configuration
    = link_to t('.edit', :default => t("helpers.links.edit")), 
      edit_configuration_path(@configuration), :class => 'btn' 
    -#
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               
      configuration_path(@configuration),                                                                          
      :method => 'delete',                                                                                         
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
      :class => 'btn btn-danger'
  -#
    = link_to "Publicate", set_public(@configuration), class: 'btn btn-primary'