!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "My Miner"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-main", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} My Miner
        / Collect the nav links, forms, and other content for toggling
        #bs-main.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active= link_to "Home", root_url
            %li= link_to "Top", "#"
            %li= link_to "Rigs", rigs_path
          %ul.nav.navbar-nav.pull-right#login_menu
            %li= link_to 'Unpublished configs', configs_unpublished_path if user_signed_in? && current_user.role.name == 'admin'
            %li= link_to 'Unpublished rigs', rigs_unpublished_path if user_signed_in? && current_user.role.name == 'admin'
            %li= link_to 'RU', set_ru_locale_path, data: { no_turbolink: true }
            %li= link_to 'EN', set_en_locale_path, data: { no_turbolink: true }
            = render 'devise/menu/registration_items'
            = render 'devise/menu/login_items'
    .container
      = render 'layouts/messages'
      = yield
    %footer
      .container
        %ul.nav.pull-right
          %li.navbar-text © My Miner
= render 'shared/sign_in'
= render 'shared/sign_up'
